/* ================= HEADER ================= */

.header{
    width: 100%;
    height: 90px;
    padding: 0 8%;
    background: rgba(255, 255, 255, 0.95);
    flex-direction: row-reverse;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

/* ================= LOGO ================= */

.logo{
    color: brown;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.05);
    color: rgb(92, 20, 20);
}

/* ================= NAVIGATION ================= */

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    background-color: transparent;
    position: relative;
    border-bottom: 0;
}

/* ================= LIENS ================= */

.items{
    position: relative;

    color: #222;
    font-size: 1rem;
    font-weight: 600;

    transition: 0.3s ease;

    padding: 8px 0;
}

/* Ligne animée */
.items::after{
    content: "";

    position: absolute;
    left: 0;
    bottom: -4px;

    width: 0%;
    height: 3px;

    background: brown;
    border-radius: 20px;

    transition: 0.4s ease;
}

/* Hover */
.items:hover{
    color: brown;
}

/* Animation ligne */
.items:hover::after{
    width: 100%;
}



.active{
    color: brown;
}

.active::after{
    width: 100%;
}



.btn{
    padding: 12px 24px;
    background: brown;
    color: white;

    border-radius: 50px;

    font-weight: 600;
    transition: 0.3s ease;
     display: none;
}

.btn:hover{
    background: rgb(92, 20, 20);
    transform: translateY(-2px);
}


.nav_active{
    display: none;
}

@media screen and (max-width:780px) {

.btn{
    display: block;
    cursor: pointer;
}

/* MENU MOBILE */
.nav{
    position: absolute;
    top: 90px;
    left: -100%;

    width: 70%;
    height: calc(100vh - 90px);

    background: black;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 60px;
    gap: 30px;

    transition: left 0.4s ease;
}

/* MENU OUVERT */
.nav_active{
    left: 0;
}

.items{
    color: whitesmoke;
    font-size: 1.3rem;
}
}


@media (min-width:800px) and (max-width:1200px) {
  
.btn{
    display: block;
    cursor: pointer;
    font-size: 1.4rem;
}

/* MENU MOBILE */
.nav{
    position: absolute;
    top: 90px;
    left: -100%;

    width: 70%;
    height: calc(100vh - 90px);

    background: black;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 60px;
    gap: 30px;

    transition: left 0.4s ease;
}

/* MENU OUVERT */
.nav_active{
    left: 0;
}

.items{
    color: whitesmoke;
    font-size: 1.4rem;
}
}

@media screen and (max-width:480px) {
  
}